header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Fondo transparente */
  }
  
  /* Estilo del scroll */
  ::-webkit-scrollbar-thumb {
    background-color: white; /* Color del scroll */
    border-radius: 5px; /* Borde redondeado */
  }