
.contImgH {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.contImgH img {
  width: 100%;
  height: 45.2vh;
  object-fit: cover;
  display: flex;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay h1 {
  color: white;
  font-size: 48px;
  font-weight: 400;
  margin-top: 1.7em;
  text-transform: uppercase;
}

.del_btn{
  position: absolute;
  display: flex;
  right: 24px;
  margin-top: 1em;
  background-color: #E74C3C;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;

  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .55px;
  transition: .3s ease-in-out;

  animation: bounce2 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.del_btn:hover {
  background-color: transparent;
  color: #E74C3C;
}

.formContainer {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.contInput {
  position: relative;
  width: 33em;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contLabel-Input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label-input {
  display: block;
  font-size: 10px;
  letter-spacing: 0.1em;
  font-weight: 400;
  animation: bounce 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1.4s both;
}

.label-input span {
  color: #00665e;
  font-size: 14px;
}
.contLabel-Input input::placeholder{
    color: #111; 
}

.contLabel-Input input , .contLabel-Input select{
  color: #111;
  font-size: 14px;
  background-color: transparent;
  appearance: none;
  width: 100%;
  box-sizing: border-box;
  padding-block: 0.6em;
  border: none;
  border-bottom: 1px solid #111;
  transition: 0.3s ease-in-out;
}

.contLabel-Input input:focus, .contLabel-Input select:focus {
  outline: none;
  border-bottom-color: #00665e;
}

.contLabel-Input select {
  appearance: none;
}

.error {
  color: #E74C3C;
  font-size: 12px;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 2px;

  animation: text-focus-in  0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
}

.warning {
  color: #815f42;;
  font-size: 12px;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 2px;

  animation: text-focus-in  0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
}

.cyberpunk-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #111;
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .cyberpunk-checkbox:before {
    content: "";
    background-color: #00665e;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .cyberpunk-checkbox:checked:before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .cyberpunk-checkbox-label {
    font-size: 14px;
    color: #111;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
  }

  .btnSubmit{
    margin-top: 1em;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .55px;
    width: auto;
    max-width: 160px;
    color: #111;
    background: #dbdbdb;
    border: none;
    border-radius: 30px;
    padding: 8px 16px;

    animation: bounce2 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1.6s both;
    transition: .3s ease-in-out;
  }

  .btnSubmit:disabled {
    background: #dbdbdb80;
    color: #11111180;
  }

  .btnSubmit:not(:disabled):hover {
    background-color: #00665e;
    color: white;
  }

  .contInput:nth-child(1) {
    animation: bounce 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  .contInput:nth-child(2) {
    animation: bounce 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
  }

  .contInput:nth-child(3) {
    animation: bounce 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s both;
  }

  .contInput:nth-child(4) {
    animation: bounce 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.6s both;
  }

  .contInput:nth-child(5) {
    animation: bounce 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s both;
  }

  .contInput:nth-child(6) {
    animation: bounce 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
  }

  .contInput:nth-child(7) {
    animation: bounce 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1.2s both;
  }

  .contInput:nth-child(8) {
    animation: bounce 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1.4s both;
  }

  