<div class="containerF">
  <h5>Aston Martin</h5>
  <hr />
  <div class="contLinks">
    <nav class="footer-accordion">
      <div class="colLinks">
        <ul>
          <li>
            <a
              class="a-dsg"
              href="https://www.astonmartin.com/en/our-world"
              target="_blank"
              rel="noopener noreferrer"
              >Nuestro Mundo</a
            >
          </li>
          <li><a 
            class="a-dsg"
            routerLink="/models">Modelos</a></li>
          <li>
            <a 
            class="a-dsg"
            href="https://www.astonmartin.com/en/owners"
            target="_blank"
            rel="noopener noreferrer"
            >Propietarios</a>
          </li>
          <li><a 
            class="a-dsg"
            href="https://www.astonmartinf1.com/en-GB/"
            target="_blank"
            rel="noopener noreferrer"
            >Equipo F1</a></li>
          <li>
            <a 
            class="a-dsg"
            href="https://preowned.astonmartin.com/en_gb/"
            target="_blank"
            rel="noopener noreferrer"
            >Seminuevo</a>
          </li>
          <li>
            <a 
            class="a-dsg"
            href="https://www.astonmartin.com/en/experiences"
            target="_blank"
            rel="noopener noreferrer"  
            >Experiencias</a
            >
          </li>
          <li><a 
            class="a-dsg"
            href="https://shop.astonmartin.com/coming-soon"
            target="_blank"
            rel="noopener noreferrer"
            >Tienda</a></li>
        </ul>
      </div>
      <div class="colLinks">
        <ul>
          <li>
            <a 
            class="a-dsg"
            href="https://www.astonmartin.com/en/dealers"
            target="_blank"
            rel="noopener noreferrer"
            >Distribuidores</a>
          </li>
          <li><a 
            class="a-dsg"
            href="https://www.astonmartin.com/en/enquiry"
            target="_blank"
            rel="noopener noreferrer"
            >Consulta</a></li>
          <li>
            <a 
            class="a-dsg"
            href="https://www.astonmartin.com/en/contact-us"
            target="_blank"
            rel="noopener noreferrer"
            >Contáctenos</a>
          </li>
        </ul>
      </div>
      <div class="colLinks">
        <ul>
          <li><a 
            class="a-dsg"
            href="https://www.astonmartinlagonda.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Corporativo</a></li>
          <li>
            <a 
            class="a-dsg"
            href="https://www.astonmartinlagonda.com/about-us"
            target="_blank"
            rel="noopener noreferrer"
            >Sobre nosotros</a
            >
          </li>
          <li>
            <a 
            class="a-dsg"
            href="https://media.astonmartin.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Medios de comunicación</a>
          </li>
          <li>
            <a 
            class="a-dsg"
            href="https://www.astonmartinlagonda.com/careers"
            target="_blank"
            rel="noopener noreferrer"
            >Carreras</a>
          </li>
          <li>
            <a 
            class="a-dsg"
            href="https://www.astonmartinlagonda.com/investors"
            target="_blank"
            rel="noopener noreferrer"
            >Inversores</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div class="footer-dealer"></div>
  </div>
  <p class="smallP">Las cifras de emisiones/economía de combustible citadas provienen de resultados de pruebas oficiales reguladas obtenidos mediante pruebas de laboratorio. Son solo para fines de comparación y es posible que no reflejen su experiencia de conducción real, que puede variar según factores como las condiciones de la carretera, el clima, la carga del vehículo y el estilo de conducción.</p>
  <div class="footer-lastSec">
    <a 
    class="a-dsg"
    href="https://www.astonmartin.com/en/legal/terms-and-conditions"
    target="_blank"
    rel="noopener noreferrer"
    >Terminos & Condiciones</a>
    <a 
    class="a-dsg"
    href="https://www.astonmartin.com/en/legal/privacy"
    target="_blank"
    rel="noopener noreferrer"
    >Privacidad</a>
    <a 
    class="a-dsg"
    href="https://www.astonmartin.com/en/legal/cookies"
    target="_blank"
    rel="noopener noreferrer"
    >Cookies</a>
    <p class="a-dsg nameBrand">© Aston Martin 2024</p>
  </div>
</div>
