<div class="bodyHome">
  <div class="contVideo">
    <video
      src="
    https://www.astonmartin.com/-/media/models---vantage-coupe/homepage_ngv_websitehero_8s_16x9_option-01_general-02_v4_060224.mp4?rev=da9d28119a744dfe9b8472fd7cfbbb50"
      autoplay
      loop
      class="video"
    ></video>
    <div class="contTxt-V2 spaceGap">
      <div>
        <p class="contTxt-p">emoción. impulsado.</p>
        <h1 class="contTxt-h1">Vantage</h1>
      </div>
      <div class="btns">
        <a
          class="btnDsg"
          href="https://www.astonmartin.com/en/models/vantage-coupe"
          target="_blank"
          rel="noopener noreferrer"
          >Explorar</a
        >
        <a
          class="btnDsg btnDsg-2"
          href="https://configurator.astonmartin.com/GB/model-select/AM6/AM614"
          target="_blank"
          rel="noopener noreferrer"
          >Configurar</a
        >
      </div>
    </div>
  </div>
  <div class="contVideo">
    <video
      src="
      https://www.astonmartin.com/-/media/models---dbx707-my25/dbx_film1_web/dbx707my25_film1_8s_desktop-web.mp4?rev=d676a5142cd043b9a0cc545ff6a6a607"
      autoplay
      loop
      class="video"
    ></video>
    <div class="contTxt-V2 spaceGap">
      <div>
        <p class="contTxt-p">El nuevo poder dentro</p>
        <h1 class="contTxt-h1">DBX707</h1>
      </div>
      <div class="btns">
        <a
          class="btnDsg"
          href="https://www.astonmartin.com/en/models/dbx707"
          target="_blank"
          rel="noopener noreferrer"
          >Explorar</a
        >
        <a
          class="btnDsg btnDsg-2"
          href="https://www.astonmartin.com/en/enquiry"
          target="_blank"
          rel="noopener noreferrer"
          >Preguntar</a
        >
      </div>
    </div>
  </div>
  <div class="contVideo">
    <video
      src="
    https://www.astonmartin.com/-/media/aston-martin-brand-stories-new/q-new-york---the-configurator/q_new_york_8sec-web.mp4?rev=-1"
      autoplay
      loop
      class="video"
    ></video>
    <div class="contTxt-V2 spaceGap">
      <h1 class="contTxt-h1">Bienvenido a Q Nueva York</h1>
      <a
        class="btnDsg"
        href="https://www.astonmartin.com/en/our-world/brand-stories/q-new-york-the-configurator"
        target="_blank"
        rel="noopener noreferrer"
        >Explorar</a
      >
    </div>
  </div>
  <div class="contVideo">
    <img
      class="rowAM"
      src="https://www.astonmartin.com/-/media/personalize/quote-desktop.png"
      alt="Aston Martins Row"
    />
    <div class="overlay overlay-V2 spaceGap">
      <p class="overlayText overlayText-V2">
        DBX707. Impresionantes prestaciones del deportivo Aston Martin. En un
        SUV de lujo. Poder colosal al que puedes acceder y controlar
      </p>
      <div class="btns">
        <a
          class="btnDsg"
          href="https://configurator.astonmartin.com/en/model-select/AM8"
          target="_blank"
          rel="noopener noreferrer"
          >Configurar</a
        >
        <a
          class="btnDsg btnDsg-2"
          href="https://www.astonmartin.com/en/enquiry"
          target="_blank"
          rel="noopener noreferrer"
          >Solicitar una prueba de manejo</a
        >
      </div>
    </div>
  </div>
  <div class="videoContainer">
    <video
      class="videoV2"
      src="https://dacastdd.s.llnwi.net/universe-vod-storage/inline/289c9a4b-581b-e0db-677c-cf368cdcb198/14b701c3-86ec-4735-9601-202149d2eac2/a4ac54dc-e5cd-86b8-ca65-8d39998b7a05_rendition.mp4?p=181&s=1713197079&e=1713200679&X-Dacast-Vod=14b701c3-86ec-4735-9601-202149d2eac2&h=d480cae9defb78aaae091d81712544b6"
      autoplay
      loop
    ></video>
    <div class="overlay scroll-reveal">
      <p class="overlayText">
        <span>
        Tenemos una búsqueda imparable de una gratificación profunda. Un deseo
        de capturar la emoción humana pura de la experiencia de conducción.
      </span>
      </p>
      <p class="overlayText V2">- Aston Martin</p>
    </div>
  </div>
  <div class="contVideo">
    <video
      src="
    https://www.astonmartin.com/-/media/homepage-vantage-coupe-launch/model-carousel-silverstone-day-night/vantage_my25_silverstone_night_desktop-carousel.mp4?rev=22540d70fac54847a35bd21374cf72df"
      autoplay
      loop
      class="video"
    ></video>
    <div class="contTxt">
      <p class="contTxt-p">emoción. impulsado.</p>
      <h1 class="contTxt-h1">Vantage</h1>
    </div>
  </div>
  <div class="contVideo">
    <video
      src="
    https://www.astonmartin.com/-/media/aston-martin/videos/db12_amalficoast_night_dekstop_60fps.mp4?rev=520fc6aaa7964bfd85be1b63ac3bfed1"
      autoplay
      loop
      class="video"
    ></video>
    <div class="contTxt">
      <p class="contTxt-p">icono. impulsado.</p>
      <h1 class="contTxt-h1">DB12</h1>
    </div>
  </div>
  <div class="contVideo">
    <video
      src="
    https://www.astonmartin.com/-/media/aston-martin/videos/dbx_newyork_night_desktop_60fps.mp4?rev=95b44a6c4b964f9983f03822ec338e56"
      autoplay
      loop
      class="video"
    ></video>
    <div class="contTxt">
      <p class="contTxt-p">fuerza. impulsado.</p>
      <h1 class="contTxt-h1">DBX707</h1>
    </div>
  </div>
  <div class="contVideo">
    <video
      src="
    https://www.astonmartin.com/-/media/aston-martin/videos/dbs_zengarden_night_desktop_60fps.mp4?rev=5c9245b6a64e4e358214f0e62e0be4ea"
      autoplay
      loop
      class="video"
    ></video>
    <div class="contTxt">
      <p class="contTxt-p">ferocidad. impulsado.</p>
      <h1 class="contTxt-h1">DBS</h1>
    </div>
  </div>
  <div class="contVideo">
    <video
      src="
    https://www.astonmartin.com/-/media/aston-martin/videos/am690_rainbow_night_desktop_60fps.mp4?rev=8517ee104c6940aea2037e876edd4372"
      autoplay
      loop
      class="video"
    ></video>
    <div class="contTxt">
      <h1 class="contTxt-h1">Valour</h1>
    </div>
  </div>
  <div class="contDoubleVideo" #contDoubleVideo>
    <div 
    class="contVideo contVideo-V2"
    (mouseenter)="playVideo(video1)"
    (mouseleave)="stopVideo(video1)"
    >
      <video
        #video1
        src="https://dacastdd.s.llnwi.net/universe-vod-storage/inline/289c9a4b-581b-e0db-677c-cf368cdcb198/72de2871e0317f38dccd55f3f8989191/source.mp4?p=137&s=1713113843&e=1713117443&X-Dacast-Vod=72de2871e0317f38dccd55f3f8989191&h=9b347c179458445e93e816777b55cfe7"
        loop
        muted
        class="videoDouble"
      ></video>
      <div class="contTxt contTxt-V3">
        <p>Aston Martin seminuevo</p>
      </div>
    </div>
    <div class="contVideo contVideo-V2"
    (mouseenter)="playVideo(video2)"
    (mouseleave)="stopVideo(video2)">
      <video
        #video2
        src="https://dacastdd.s.llnwi.net/universe-vod-storage/inline/289c9a4b-581b-e0db-677c-cf368cdcb198/dcfb0227-16cb-4cc3-a957-ee2cbb08569e/source.mp4?p=141&s=1713113955&e=1713117555&X-Dacast-Vod=dcfb0227-16cb-4cc3-a957-ee2cbb08569e&h=725ddd101f60147d18718239c086c840"
        loop
        muted
        class="videoDouble"
      ></video>
      <div class="contTxt contTxt-V3">
        <p>Revista Aston Martin</p>
      </div>
    </div>
  </div>
</div>
